.project-introduction {
  min-height: 100vh;
  display   : block;
}

.title-subtitle {
  height    : 20vh;
  padding   : 6vh 0;
  text-align: center;
}

.main-image {
  padding      : auto;
  /* text-align: center; */
  width        : 100%;
  height       : 80vh;
  -o-object-fit: cover;
  object-fit   : cover;
}

.project-description {
  width      : 100%;
  padding    : 5vh;
  display    : flex;
  align-items: top;
  height     : 100vh;
  /* margin-top : 15vh; */
}

.image {
  width: 50%;
}

.main-text {
  width       : 50%;
  padding-top : 0;
  font-size   : 1.1rem;
  padding-left: 5vh;
  padding-top : -5px;
}

.image img {
  object-fit: cover;
  width     : 100%;
  height    : 50vh;
}
@media screen and (max-width: 992px) {
  .project-description {
    display: block;
  }

  .image {
    width  : 100%;
    padding: 0 5vh;
  }

  .main-text {
    width    : 100%;
    padding  : 5vh;
    font-size: 1.5rem;
  }
}