* {
  margin : 0;
  padding: 0;
}

html {
  min-height     : 100vh;
  scroll-behavior: smooth;
  font-family    : sans-serif;
}

.invisible-link {
  text-decoration: none;
  color          : inherit;
}

.invisible-link:hover {
  text-decoration: none;
  color          : rgb(175, 148, 5);
}

.special-hover:hover {
  color: orange;
}

.menu {
  border-right       : 1px solid lightgrey;
  background-color   : #e6e6e6;
  position           : fixed;
  left               : 0;
  height             : 100vh;
  background-image   : url("../images/menuBackground.png");
  background-position: center;
  background-size    : cover;
  display            : block;
  width              : 180px;
  z-index            : 999;
}

.menu ul {
  padding-top : 3rem;
  padding-left: 0.9rem;
  font-size   : 1.25rem;
  width       : 100%;
}

.menu ul li {
  list-style-type: none;
  padding-top    : 2rem;
}

.menu ul li:first-child::before {
  content  : 'from';
  display  : block;
  font-size: 0.9rem;
  color    : darkgray;
}

.menu ul li:not(:first-child):not(:last-child)::before {
  content    : 'to';
  display    : block;
  font-size  : 0.9rem;
  padding-top: 2rem;
  color      : darkgray;
}

.menu ul li:last-child::before {
  content    : 'by';
  display    : block;
  font-size  : 0.9rem;
  padding-top: 1.5rem;
  color      : darkgray;
}

.body {
  padding-left: 180px;
  display     : block;
  position    : relative;
}
/* text */
.title {
  font-size: 2rem;
}

.quote {
  font-size : 1.1rem;
  font-style: italic;
}
/* carousel */
.projects-carousel {
  background-color: white;
  width           : 100%;
}

.carousel-item img {
  height       : 80vh;
  -o-object-fit: cover;
  object-fit   : cover;
}

.carousel-inner {
  padding-bottom: 20vh;
}

.carousel-caption {
  position: absolute;
  bottom  : -17vh;
  color   : black;
}

.carousel-control-next,
.carousel-control-prev {
  padding-bottom: 25vh;
}

.carousel-indicators li {
  background-color: lightgrey;
}

.carousel-indicators li:hover {
  background-color: rgb(175, 148, 5);
}
/* Project menu */
.projects-display {
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-orient   : horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction   : row;
  flex-direction       : row;
  -ms-flex-wrap        : wrap;
  flex-wrap            : wrap;
  margin-left          : auto;
  margin-right         : auto;
  position             : relative;
  min-height           : 100vh;
}

.project {
  display : inline-block;
  position: relative;
  width   : 33%;
  height  : 33%;
}

.project:hover img {
  opacity: 40%;
}

.project:hover .middle {
  opacity: 100%;
}

.middle {
  position         : absolute;
  display          : -webkit-box;
  display          : -ms-flexbox;
  display          : flex;
  top              : 0;
  left             : 0;
  right            : 0;
  bottom           : 0;
  /* transition: .3s ease; */
  opacity          : 0;
  -webkit-box-pack : center;
  -ms-flex-pack    : center;
  justify-content  : center;
  -webkit-box-align: center;
  -ms-flex-align   : center;
  align-items      : center;
  text-align       : center;
}

.text {
  /* background-color: white; */
  position : relative;
  color    : black;
  font-size: 1.5rem;
  padding  : 16px 32px;
}
/* .project:hover::after {
  content: attr(data-hover);
  position: absolute;
  color: orange;
  opacity: 100%;
  font-size: 1.2rem;
  background-color: white
    visibility: visible;
} */
.project img {
  max-width : 100%;
  max-height: 100%;
  margin    : auto;
  padding   : auto;
}

.footer {
  /* background-image: linear-gradient(to bottom, white, lightgrey); */
  color       : black;
  display     : block;
  text-align  : center;
  padding     : 2vh;
  font-size   : 1.6em;
  padding-left: 180px;
}
@media screen and (max-width: 992px) {
  body {}
  /* .menu-hide {
    top: -3em !important;
  }

  .menu {
    border-right      : none;
    border-bottom     : 5px solid black;
    position          : fixed;
    top               : 0;
    right             : 0;
    left              : 0;
    width             : auto;
    height            : 3em;
    overflow-x        : auto;
    overflow-y        : hidden;
    z-index           : 9999;
    -webkit-box-pack  : center;
    -ms-flex-pack     : center;
    justify-content   : center;
    margin-left       : auto;
    margin-right      : auto;
    -webkit-transition: top 0.2s ease-in-out;
    transition        : top 0.2s ease-in-out;
  }

  .menu ul {
    white-space    : nowrap;
    -ms-flex-pack  : distribute;
    justify-content: space-around;
    padding-top    : 0;
    padding-left   : 0.6em;
    font-size      : 2em;
    width          : auto;
  }

  .menu ul::before {
    display: inline;
  }

  .menu ul li {
    display        : inline;
    list-style-type: none;
    padding-right  : 1em;
  }

  .menu ul li:first-child::before {
    display  : inline;
    font-size: 0.8em;
  }

  .menu ul li:not(:first-child):not(:last-child)::before {
    display  : inline;
    font-size: 0.8em;
  }

  .menu ul li:last-child::before {
    display  : inline;
    font-size: 0.8em;
  }

  .body {
    padding-left: 0;
  }

  .carousel-item img {
    height: 70vh;
  }

  .carousel-inner {
    padding-bottom: 20vh;
  }

  .carousel-caption {
    position: absolute;
    bottom  : -20vh;
    color   : black;
  }

  .carousel-caption p {
    font-size: 0.8em;
  }

  .carousel-caption h5 {
    font-size: 1.5em;
  }

  .projects-display {
    min-height: 100vh;
  }

  .project {
    width: 100%;
  }

  .footer {
    padding-left: 0;
    font-size   : 0.6em;
  } */
}