* {
  margin : 0;
  padding: 0;
}

html {
  min-height     : 100vh;
  scroll-behavior: smooth;
  font-family    : sans-serif;
}

.main-grid-container {
  display              : grid;
  padding-left         : 180px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows   : 3fr 1fr 1fr 1fr 20vh;
  grid-template-areas  : "projects-carousel projects-carousel projects-carousel" "project project project" "project project project" "project project project" "footer footer footer";
}

.menu {
  border-right       : 1px solid lightgrey;
  background-color   : white;
  position           : fixed;
  left               : 0;
  min-height         : 100vh;
  max-height         : 100vh;
  background-image   : url("../images/menuBackground.png");
  background-position: center;
  background-size    : cover;
  display            : block;
  width              : 180px;
}

.menu ul {
  padding-top : 3rem;
  padding-left: 0.9rem;
  font-size   : 1.25rem;
  width       : 100%;
}

.menu ul::before {
  content  : "from";
  font-size: 0.9rem;
  color    : darkgray;
}

.menu ul li {
  list-style-type: none;
  padding-top    : 2rem;
}

.menu ul li:nth-child(-n+2)::after {
  content    : "to";
  display    : block;
  font-size  : 0.9rem;
  padding-top: 2rem;
  color      : darkgray;
}

.menu ul li:nth-child(3)::after {
  content    : "by";
  display    : block;
  font-size  : 0.9rem;
  padding-top: 1.5rem;
  color      : darkgray;
}

.projects-carousel {
  grid-area       : projects-carousel;
  background-color: white;
}

.carousel-item img {
  height: 80vh;
}

.carousel-inner {
  padding-bottom: 20vh;
}

.carousel-caption {
  position: absolute;
  bottom  : -17vh;
  color   : black;
}

.carousel-caption p {
  font-size : 1.1rem;
  font-style: italic;
}

.carousel-caption h5 {
  font-size: 2rem;
}

.carousel-control-next,
.carousel-control-prev {
  padding-bottom: 25vh;
}

.img1 {
  background     : url("../images/carousel/img1.jpg") no-repeat left center fixed;
  background-size: cover;
}

.img2 {
  background     : url("../images/carousel/img2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img3 {
  background     : url("../images/carousel/img3.jpg") no-repeat right center fixed;
  background-size: cover;
}

.img4 {
  background     : url("../images/carousel/img4.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img5 {
  background     : url("../images/carousel/img5.jpg") no-repeat left center fixed;
  background-size: cover;
}

.img6 {
  background     : url("../images/carousel/img6.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img7 {
  background     : url("../images/carousel/img7.jpg") no-repeat left center fixed;
  background-size: cover;
}

.img8 {
  background     : url("../images/carousel/img8.png") no-repeat center center fixed;
  background-size: cover;
}

.img9 {
  background     : url("../images/carousel/img9.jpg") no-repeat center center fixed;
  background-size: cover;
}

.carousel-indicators li {
  background-color: lightgrey;
}

.carousel-indicators li:hover {
  background-color: rgb(175, 148, 5);
}

.project {
  display        : flex;
  justify-content: center;
  align-items    : center;
  /* transition: all 0.3s ease-in; */
}

.project:hover img {
  opacity: 40%;
}

.project:hover .middle {
  opacity: 100%;
}

.middle {
  position: absolute;
  /* transition: .3s ease; */
  opacity : 0;
}

.text {
  /* background-color: white; */
  color    : black;
  font-size: 1.5rem;
  padding  : 16px 32px;
}
/* .project:hover::after {
  content: attr(data-hover);
  position: absolute;
  color: orange;
  opacity: 100%;
  font-size: 1.2rem;
  background-color: white
    visibility: visible;
} */
.project img {
  max-width : 100%;
  max-height: 100%;
  margin    : auto;
  padding   : auto;
}

.footer {
  /* background-image: linear-gradient(to bottom, white, lightgrey); */
  color          :white grid-area: footer;
  display        : flex;
  align-items    : center;
}

.invisible-link {
  text-decoration: none;
  color          : inherit;
}

.invisible-link:hover {
  text-decoration: none;
  color          : rgb(175, 148, 5);
}

.special-hover:hover {
  color: orange;
}