body {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Open Sans', sans-serif;
  font-size  : 14px;
  font-weight: 300;
}

.card-container {
  display       : flex;
  flex-wrap     : wrap;
  padding-bottom: 4rem;
  position      : relative;
}

.card-bmnn {
  position        : sticky;
  top             : 0;
  overflow        : hidden;
  background-color: white;
}
/* Introduction */
.introduction {
  height          : 100vh;
  background-color: #f1b63a;
}

.teaser {
  text-align: center;
}

.title {
  text-transform: capitalize;
  font-weight   : bold;
  font-size     : 6.5em;
  text-align    : left;
}

.subtitle {
  font-weight: bold;
  font-style : italic;
  font-size  : 2em;
  text-align : left;
  position   : relative;
  left       : 13em;
}
/* Introduction end */
main p {
  font-size : 1.3em;
  text-align: left;
}

.gray-divisor {
  width           : 100%;
  height          : 240px;
  background-image: linear-gradient(to bottom, #fff 0%, #fff 25%, #bbb, #888, #444, #000);
  border          : none;
}
/* movie */
#movie {
  min-height     : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin-bottom  : 10vh;
}
/* movie end */
#comic1 {
  margin-bottom: 40vh;
}

#comic3 {
  margin-top: 40vh;
}

#comic4 {
  margin-top: 60vh;
}

#text4 {
  margin-top: 50vh;
}

#comic5 {
  margin-top   : 20vh;
  margin-bottom: 20vh;
}

#comic6 {
  margin-bottom: 20vh;
}

#text5 {
  margin-bottom: 80vh;
}
/* Goal */
.goal {
  /* margin-top: 20vh; */
  min-height: 100vh;
}

.bg-info-alpha {
  background-color: #17a2b820;
}
/* Goal end */
/* Collection of movements */
.collection-of-movements {
  margin-top: 20vh;
  min-height: 100vh;
}

.movement {
  margin-top: 20vh;
}

.pr-n {
  padding-right: 12rem;
}

.timeline-display {
  margin-top   : 10vh;
  margin-bottom: 20vh;
}

.timeline-container {
  position   : relative;
  height     : 160px;
  display    : flex;
  align-items: center;
}

.timeline-container > .time {
  position    : absolute;
  top         : 0;
  left        : 0;
  width       : 100%;
  height      : 100%;
  border-right: 3px solid black;
  opacity     : 0;
}

.timeline-container > img {
  height: 120px;
}

.video-player {
  text-align: center;
}

.content-wrapper {
  min-height    : 100vh;
  position      : relative;
  padding-bottom: 4rem;
}

footer {
  position  : absolute;
  bottom    : 0;
  height    : 4rem;
  width     : 100%;
  text-align: center;
}
@keyframes timeline-animation {
  from {
    will-change: transform, opacity;
    opacity    : 1;
    transform  : translateX(-100%);
  }

  to {
    will-change: unset;
    opacity    : 1;
    transform  : translateX(0);
  }
}
/* Collection of movements end */
@media only screen and (max-width: 992px) {
  body {
    font-size: 24px;
  }

  .subtitle {
    left: 0;
  }

  main p {
    font-size : 1.8em;
    text-align: left;
  }
}